*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: bold;
    color: mediumslateblue;
}
/*博客*/
#article{
    width: 1300px;
    min-height: 500px;
    margin: 0 auto;
    font-size: 15px;
    font-family: "微软雅黑";
    background-color: lightsteelblue;
    border: 0 solid lightsteelblue;
    border-radius: 10px;
}
#article h2{
    font-size: 35px;
    font-family: "微软雅黑";
    color: #04569A;
    text-indent: 0;
    text-align: center;
}

/*用户信息*/
#article #subject dl{
    width: 200px;
    padding: 20px 0 0 0;
    float: left;
    font-family: "微软雅黑";
}
#article #subject dl dt{
    width: 125px;
    margin: 10px 10px 10px 50px;
}
#article #subject dl dt img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
#article #subject dd{
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 75px;
    float: left;
    position: relative;
    left: 35px;
}
#article #subject .user{
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 0 10px 10px;
}
#article #subject #email{
    width: 225px;
    float: right;
    text-align: left;
    padding-top: 5px;
    text-indent: 5px;
}

/*博客内容*/
#article .content{
    width: 1000px;
    float: right;
    line-height: 30px;
    background-color: whitesmoke;
    font-size: 20px;
    padding:20px;
    margin:20px 20px 20px 0;
}
#article .content .blog{
    color: #06f;
}
#article .content .blog span{
    float: right;
    padding-right: 50px;
}
#article .content .blog p#fine{
    color: red;
}
#article .content h3{
    font-size: 25px;
    text-align: center;
}
#article .content .detail a{
    color: dodgerblue;
    text-decoration: none;
}
#article .content .detail a:hover{
    color: #ff6611;
    text-decoration: underline;
}
#article .content .read{
    float: right;
    font-size: 16px;
    color: #3a768f;
}
#article .content .read #fine{
    color: #3a768f;
}
#article .content .read a{
    color: #3a768f;
}
p.sign{
    color: #5e87b0;
    float: right;
    margin-top: 20px;
}
p.line{
    width: 95%;
    margin: 15px auto 15px auto;
    clear: both;
    height: 10px;
    border-bottom: 1px dashed #333333;
}
/*发表评论*/
#rearticle{
    width: 1300px;
    margin: 0 auto;
    font-size: 20px;
    background-color: lightsteelblue;
    border: 0 solid lightsteelblue;
    border-radius: 10px;
    position: relative;
}
#rearticle h2{
    font-size: 35px;
    font-family: "微软雅黑";
    color: #1883ba;
    text-indent: 0;
    text-align: center;
}
#rearticle dl{
    width: 900px;
    margin: 0 auto;
    position: relative;
    left: 25px;
}
#rearticle dl dd{
    padding: 15px 0 10px 0;
    font-family: "微软雅黑 ";
    font-size: 22px;
    font-weight: bold;
}
#rearticle dl dd input#title{
    width: 675px;
    height: 20px;
    border-radius: 10px;
    font-family: "STSong";
    font-size: 22px;
    padding: 5px;
}
#rearticle dl dd input#tag{
    width: 300px;
    height: 20px;
    border-radius: 10px;
    font-family: "STSong";
    font-size: 22px;
    padding: 5px;
}
#rearticle dl dd div#ubb{
    width: 850px;
    height: 45px;
    background-color: #00B2C5;
    border: 0 solid #1883ba;
    border-radius: 10px;
}
#rearticle #ubb ul{
    font-size: 15px;
    list-style-type: none;
    padding-top: 15px;
}
#rearticle #ubb ul li{
    float: left;
    margin-left: 25px;
}
#rearticle #ubb ul a{
    color: black;
    text-decoration: none;
}
#rearticle #ubb ul a:hover{
    color: whitesmoke;
    font-weight: bold;
}
#rearticle #font{
    display: none;
    font-size: 14px;
    width: 150px;
    height: 40px;
    background-color: #4d77c3;
    border-radius: 5px;
    padding: 8px;
    line-height: 20px;
    position: absolute;
    left:10px;
    top: 50px;
}
#rearticle #font strong{
    font-weight: normal;
    background-color: #8cb2fd;
    border: 0 solid #00b3ff;
    cursor: pointer;
}
#rearticle #color{
    display: none;
    width: 160px;
    height: 160px;
    font-size: 12px;
    background-color: #4d77c3;
    border-radius: 5px;
    position: absolute;
    left: 350px;
    top: 50px;
}
#rearticle #color strong{
    border: 0 solid #999;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    margin-left: 6px;
    margin-top: 6px;
    cursor: pointer;
}
#rearticle #color em{
    display: block;
    height: 25px;
    width: 80%;
    clear: both;
}
#rearticle #color em input{
    margin: 3px 0 0 5px;
    width: 145px;
    height:25px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#rearticle dl dd textarea{
    width: 840px;
    height: 200px;
    border-radius: 10px;
    font-family: STSong;
    font-size: 22px;
    padding: 5px;
}
#rearticle dl dd .submit{
    width: 220px;
    height: 50px;
    color: darkorange;
    font: normal bold 25px/25px "微软雅黑 Light";
    border: 0 solid #1883ba;
    border-radius: 10px;
    background-color: #1883ba;
    margin: 0 0 0 300px;
    cursor: pointer;
}
#rearticle dl dd .submit:hover{
    color: whitesmoke;
    background-color: royalblue;
}


/*评论*/
#article .re dl{
    width: 200px;
    padding: 20px 0 0 0;
    float: left;
    font-family: "微软雅黑";
}
#article .re dl dt{
    width: 125px;
    margin: 10px 10px 10px 50px;
}
#article .re dl dt img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
#article .re dd{
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 75px;
    float: left;
    position: relative;
    left: 35px;
}
#article .re .user{
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 0 10px 10px;
}
#article .re #email{
    width: 225px;
    float: right;
    text-align: left;
    padding-top: 5px;
    text-indent: 5px;
}
#article .re .content{
    width: 1000px;
    min-height: 200px;
    float: right;
    line-height: 30px;
    background-color: whitesmoke;
    font-size: 20px;
    padding:20px;
    margin:20px 20px 20px 0;
}
#article .re .content .blog{
    color: #06f;
}
#article .re .content .blog a.delete_comment{
    color: #3a768f;
}
#article .re .content .blog span{
    float: right;
    padding-right: 50px;
}
#article .re .content h3{
    font-size: 25px;
    text-align: center;
}
#article .re .content .detail a{
    color: dodgerblue;
    text-decoration: none;
}
#article .re .content .detail a:hover{
    color: #ff6611;
    text-decoration: underline;
}
#page{
    clear: both;
    position: relative;
}
#page ul{
    position: relative;
    right: 60px;
    top: 20px;
    float: right;
}
#page li{
    float: left;
    height:30px;
    margin-left: 10px;
    list-style: none;
}
#page li.number{
    width: 30px;
}
#page li.page{
    width: 70px;
}
#page a{
    display: block;
    height:30px;
    color: #212121;
    line-height: 30px;
    border: 1px solid rgb(0,161,214);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
#page a.numb{
    width: 30px;
}
#page a.pagechange{
    width: 70px;
}
#page a:hover{
    background-color: rgb(0,161,214);
    font-weight: bold;
    color: #FFFFFF;
}
#selected {
    background-color: rgb(0, 161, 214);
    font-weight: bold;
    color: #FFFFFF;
}