*{
    padding: 0;
    margin: 0;
}
#member{
    width: 1300px;
    height: 650px;
    font-size: 15px;
    font-family: "微软雅黑";
    background-color: lightsteelblue;
    border: 0 solid lightsteelblue;
    border-radius: 10px;
}
#member h2{
    font-size: 18px;
    background: lightsteelblue;
    height: 35px;
    line-height: 35px;
    text-indent: 10px;
    border: 0 solid lightsteelblue;
    border-radius: 5px;
}
#member_sidebar{
    width:300px;
    height:550px;
    margin: 50px 0 0 50px;
    border: 2px solid #999999;
    border-radius: 10px;
    float: left;
    background-color: lightgoldenrodyellow;
}
#member_sidebar dl{
    width: 250px;
    margin: 25px auto;
}
#member_sidebar dl dt {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    background-color: lightsteelblue;
    border: 0 solid lightsteelblue;
    border-radius: 5px;
}
#member_sidebar dl dd{
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    background-color: lightskyblue;
    border: 0 solid lightskyblue;
    border-radius: 5px;
}
#member_sidebar dl dd a{
    display: block;
    width: 200px;
    height: 40px;
    color: black;
    text-decoration: none;
}
#member_sidebar dl dd a:hover{
    background: cornflowerblue;
    border: 0 solid cornflowerblue;
    border-radius: 5px;
    font-weight: bolder;
    color: whitesmoke;
}
#member_main{
    width:850px;
    height:550px;
    margin: 50px 50px 0 0;
    border: 2px solid #999999;
    border-radius: 10px;
    float: right;
    background-color: lightgoldenrodyellow;
}
#member_main dl{
    width: 850px;
    margin: 0 auto 0 auto;
    font-family: "微软雅黑";
    /*background: red;*/
}
#member_main dl dt{
    text-align: center;
}
#member_main dl dd{
     height: 25px;
     line-height: 25px;
     font-size: 18px;
 }
#member_main dl dd.name{
    font-size: 20px;
    font-family: SimHei;
    padding: 20px 0 20px 20px;
}
#member_main dl dd.browse{
    color: #3a768f;
    float: right;
    padding-right: 25px;
}
#member_main dl .delete a{
    color: #3a768f;
    float: left;
    text-decoration: none;
    padding-top: 25px;
    padding-left: 625px;
}
#member_main dl .delete a:hover{
    color: #014d68;
    font-weight: bolder;
}
#member_main dl .name a{
    text-decoration: none;
    color: black;
}
#member_main dl .name a:hover{
    font-weight: bold;
    color: mediumslateblue;
}
#page{
    clear: both;
}
#page ul{
    position: relative;
    right: 60px;
    /*top: 20px;*/
    float: right;
    margin:10px 0 10px 0;
}
#page li{
    float: left;
    height:30px;
    margin-left: 10px;
    list-style: none;
}
#page li.number{
    width: 30px;
}
#page li.page{
    width: 70px;
}
#page a{
    display: block;
    height:30px;
    color: #212121;
    line-height: 30px;
    border: 1px solid rgb(0,161,214);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
#page a.numb{
    width: 30px;
}
#page a.pagechange{
    width: 70px;
}
#page a:hover{
    background-color: rgb(0,161,214);
    font-weight: bold;
    color: #FFFFFF;
}
#selected{
    background-color: rgb(0,161,214);
    font-weight: bold;
    color: #FFFFFF;
}